@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Montserrat');

/* 
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Montserrat', sans-serif;
*/

body{
  margin-top: 40px;
  background-color: #C3231B;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.main-jumbotron{
  padding: 0;
  background-color: white;
  color: black;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
}

.main-jumbotron img{
  width: 150px;
  border-radius: 35%; 
}

.main-jumbotron h1{
  padding: 10px;
  color: #C30000;
  text-shadow: 2px 3px rgb(95, 29, 26);
}

.burger-item{
  background-color: lightblue;
  color: black;
  padding: 3px 0;
  margin: 5px auto;
}

@media (min-width: 576px){
  .main-jumbotron img{
    width: 300px;
  }
}